* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(assets/math-background.png);
  background-size: cover;
  font-family: Roboto, sans-serif;

}

main {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  padding-top: 15vh;
}

h1 {
  text-align: center;
  color: #fff;
  padding: 30px;
  letter-spacing: 3px;
  color: #E3E7EA;
}

p {
  color: #fff;
  padding-bottom: 20px;
}

a {
  color: #60B3F2;
  text-decoration: none;
}

.form-section {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 7.5%;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  display: inline-block;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 100%;
  border: none;
  outline: none;
}

button {
  height: 35px;
  font-size: 100%;
  background-color: #60B3F2;
  color: #fff;
  border: none;
  outline: none;
}

button:hover:enabled {
  cursor: pointer;
  background-color: #606AF2;
}

button:disabled {
  background-color: #88C6F5;
}

#error {
  color: #E7EBEE;
}

#token-title {
  color: #E7EBEE;
  margin: 25px 0 15px 0;
}

.hidden {
  display: none;
}

#userToken {
  margin: 10px auto;
  overflow-wrap: break-word;
  padding-bottom: 35px;
  color: #E7EBEE;
  font-size: 95%;
}
